@import './common/layout';
@import './common/colors';

@import './components/header';
@import './components/main';
@import './components/footer';

.body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}