.footer {
    background: $dark-background;
    color: $text-white;

    .wrapper {
        display: flex;
        min-height: 50px;
        align-items: center;
        justify-content: space-between;
    }

    &__link {
        display: block;
        color: $text-white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    &__rs-logo {
        display: block;
        width: 80px;
    }
}