.logo_header {
    display: block;
    margin: 17px auto;
    width: 148px;
    height: 31px;
}

.top-menu {
    box-sizing: border-box;
    height: 50px;
    padding: 7px;
    background-color: $menu-background;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }
}

.search {
    border: 1px solid $menu-background;
    background: $background;
    border-radius: 5px;
    width: 344px;
    height: 36px;
    padding: 0px;
    display: flex;

    .search__field {
        display: block;
        box-sizing: border-box;
        padding: 2px 8px;
        width: 308px;
        height: 36px;
        margin: 0px;
        border: none;    
        outline: 0;
    }

    &::after {
        display:block;
        width: 36px;
        height: 36px;
        cursor: pointer;
        background:url('../images/search.svg') no-repeat center center;
        content: '';
    }

}

.sum{
    margin: auto 36px auto auto;
    
    &__value{
        font-weight: bold;
    }
}

.cart {
    width: 36px;
    height: 36px;
    background: $background url('../images/cart.svg') no-repeat center center;
    border-radius: 50%;

    &__count {
        position: relative;
        right: -30px;
        top: -7px;
        color: $cart-count;
        background: $cart-count-background;
        font-weight: bold;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        padding: 3px;
    }
}