.info {
  color: $text-light;
  width: 100%;
  text-align: left;

  &__search {
    margin: 10px 0 20px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
  }

  &__found {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 12px;

    &-category {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: $selected-background;
    }
  }
}

.search {
  border: 1px solid $menu-background;
  background: $background;
  border-radius: 5px;
  height: 36px;
  width: 344px;
  padding: 0px;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  position: relative;

  &__field {
    display: block;
    box-sizing: border-box;
    padding: 2px 8px;
    width: 344px;
    margin: 0px;
    border: none;
    outline: 0;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    color: $selected-background;

    &:focus {
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    }
    &::-ms-clear,
    &::-ms-reveal {
      display: none;
    }
  }

  &::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 37px;
    background: url('../images/search.svg') no-repeat center center;
    content: '';
    z-index: 100;
  }
}

.sorts {
  background-color: $menu-background;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    width: 55%;

    &_select {
      font-family: inherit;
      font-style: inherit;
      font-weight: 500;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      background-color: #fff;
      border: none;
      outline: none;
      width: 170px;
      height: 36px;
      border-radius: 2px;
      font-weight: 500;
      font-size: 13px;
      padding: 0 15px 0 12px;
      margin-right: 50px;
      cursor: pointer;
      color: $selected-background;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0.605957L0 0.605957L4 5.5601L8 0.605957Z' fill='black' fill-opacity='0.87'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: right .8em top 53%;
    }
  }
}

.view {
  display: flex;
  align-items: center;
  width: 40%;
  opacity: 0.9;

  &__small {
    cursor: pointer;
    margin-right: 30px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    transition: .2s;

    &.active {
      background-color: #fff;
    }
    &:hover {
      background-color: #fff;
    }
  }

  &__big {
    cursor: pointer;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    transition: .2s;

    &:hover {
      background-color: #fff;
    }
    &.active {
      background-color: #fff;
    }
  }
}

.filters {
  width: 25%;
  margin-right: 20px;

  &-category,
  &-brand,
  &-price,
  &-stock {
    padding: 1%;
    border: 1px solid $menu-background;
    margin-bottom: 20px;
  }
  &-price,
  &-stock {
    padding-bottom: 5px;
  }

  &__title {
    text-align: center;
    padding: 5px;
    background-color: $menu-background;
    margin-bottom: 5px;
  }

  &__list {
    height: 127px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2%;

    &::-webkit-scrollbar {
      background-color: $menu-background;
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $selected-background;
      width: 5px;
    }

    &-checkbox {
      display: flex;
      align-items: center;
    }

    &-checkbox label {
      cursor: pointer;
      margin-left: 6px;
      margin-right: 5px;
    }
  }
}

.input-checkbox {
  cursor: pointer;
  width: 14px;
  height: 14px;

  &:checked {
    accent-color: $selected-background;
  }
}

.price-range,
.stock-range {
  position: relative;

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 15px auto 15px;
    font-size: 14px;
    font-weight: 600;
  }

  &__input-container {
    height: 25px;
    position: relative;
    width: 100%;
    margin-left: 2px;
  }

  &__input {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: $selected-background;
    border-radius: 2px;
    width: 99%;
    display: block;
    margin: 0;
    height: 2px;

    &::-webkit-slider-thumb {
      pointer-events: all;
      box-shadow: 0 0 1px 1px $selected-background;
      -webkit-appearance: none;
      height: 15px;
      width: 15px;
      border-radius: 2px;
      cursor: pointer;
      background: $discount-background;
      pointer-events: all;
    }

    &_left {
      height: 0;
      z-index: 1;
      margin-top: 1px;
    }
  }
}

.filters-btns {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;

  &__reset,
  &__copy {
    width: 115px;
    height: 35px;
    border: none;
    border-radius: 2px;
    background-color: $btn-background;
    color: $main;
    font-weight: 500;
    font-size: 12px;
    font-family: inherit;
    cursor: pointer;
    transition: .2s;

    &.copied {
      background-color: $discount-background;
      &:hover {
        background-color: $discount-background;
      }
    }
    &:hover {
      background-color: $btn-hover;
    }
  }
}

.products {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px auto;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: calc(75% - 20px);
    gap: 20px 10px;
  }

  &__item {
    width: 295px;
    border: 1px solid #ddd;
  }

  &__card {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 280px;
    margin-bottom: 14px;
    cursor: pointer;

    &_discount {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $cart-count-background;
      color: $cart-count;
      width: 60px;
      height: 20px;
      font-weight: 600;
      font-size: 12px;
      font-family: inherit;
      text-align: center;
      line-height: 20px;
    }
  }

  &__info {
    margin: 0 9px;
    display: flex;
    justify-content: space-between;

    &-left {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-right {
      width: 40%;
    }

    &-price {

      &_old {
        color: $menu;
        font-family: inherit;
        font-weight: 500;
        font-size: 13px;
        text-decoration: line-through;
        opacity: 0.8;
        margin-right: 4px;
      }

      &_new {
        color: $discount-background;
        font-family: inherit;
        font-weight: 600;
        font-size: 14px;
      }
    }

    &-name {
      margin-top: 9px;

      &_title {
        font-family: inherit;
        font-weight: 400;
        font-size: 13px;
        color: $menu;
      }

      &_category {
        font-family: inherit;
        font-weight: 500;
        font-size: 12px;
        color: $menu;
        opacity: 0.6;
      }
    }

    &-rating {
      margin-top: 20px;

      & span:first-child {
        font-family: inherit;
        font-weight: 500;
        font-size: 12px;
        color: $menu;
        opacity: 0.6;
      }

      &_count {
        font-family: inherit;
        font-weight: 400;
        font-size: 13px;
        color: $menu;
      }
    }

    &-brand {
      margin-bottom: 14px;

      & span:first-child {
        font-family: inherit;
        font-weight: 500;
        font-size: 12px;
        color: $menu;
        opacity: 0.6;
      }

      &_name {
        font-family: inherit;
        font-weight: 400;
        font-size: 13px;
        color: $menu;
      }
    }

    &-stock {
      text-align: right;

      & span:first-child {
        font-family: inherit;
        font-weight: 500;
        font-size: 12px;
        color: $menu;
        opacity: 0.6;
      }

      &_count {
        font-family: inherit;
        font-weight: 400;
        font-size: 13px;
        color: $menu;
      }
    }

    &_btn-cart {
      width: 115px;
      height: 35px;
      border: none;
      border-radius: 2px;
      background-color: $btn-background;
      color: $main;
      font-weight: 500;
      font-size: 12px;
      font-family: inherit;
      margin-top: 30px;
      margin-right: 20px;
      cursor: pointer;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      padding: 8px;
      transition: .2s;

      &.active {
        background-color: $cart-count-background;
      }

      &::after {
        display: block;
        width: 25px;
        height: 25px;
        background-image: url('../images/cart-white.svg');
        background-repeat: no-repeat;
        background-position: center;
        content: '';
      }

      &:hover {
        opacity: 0.92;
      }
    }
  }
}