$background: #fff;
$text-light: #6F6E6E;
$text-dark: #000;

$footer: #fff;
$footer-background: #2C2C31;

$menu: #2C2C31;
$menu-background: #ddd;//#f4f4f4;

$selected: #fff;
$selected-background: #2C2C31;

$cart-count: #fff;
$cart-count-background: #E85858;

$discount: #fff;
$discount-background: #E85858;