*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}